{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Profesor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        .btn-login {
            --bs-btn-bg: #fff;
            --bs-btn-color: #1d293d;
            --bs-btn-border-color: #1d293d;
            --bs-btn-hover-bg: #fff;
            --bs-btn-hover-color: #1d293d;
            --bs-btn-hover-border-color: #1d293d;
        }

        .btn-sing-up {
            --bs-btn-bg: #1d293d;
            --bs-btn-color: #fff;
            --bs-btn-border-color: #1d293d;
            --bs-btn-hover-bg: #1d293d;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-border-color: #1d293d;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    {% include 'core/components/navbar.html' %}

    <header>
        <div class="container px-4 py-5">
            <div class="pb-2 border-bottom">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <span>Panel del {{ user.get_role_display }}</span>
            </div>
        </div>
    </header>

    <main class="flex-grow-1">
        <div class="container px-4 py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2>Mis Cursos</h2>
                <a href="{% url 'core:course_form' %}" class="btn btn-success d-flex align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    Crear Curso
                </a>
            </div>

            <div>
                {% for course in courses %}
                <h5>{{ course.title }}</h5>
                <p>{{ course.description}}</p>
                {% empty %}
                <p>Aún no has creado ningún curso. ¡Crea el primero!</p>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <div class="d-flex justify-content-center align-items-center mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="44" viewBox="0 0 24 24" fill="none"
                    stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-graduation-cap" x="56" y="56">
                    <path
                        d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z">
                    </path>
                    <path d="M22 10v6"></path>
                    <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"></path>
                </svg>
                <span class="fw-bold text-truncate">Mini LMS</span>
            </div>

            <div>
                <p class="mb-0 small text-white-50">
                    Plataforma educativa diseñada para facilitar el aprendizaje
                </p>
            </div>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>