<nav class="navbar bg-light px-3 border-bottom shadow-sm">
    <div class="container-fluid d-flex justify-content-between align-items-center flex-nowrap">

        <a class="navbar-brand d-flex align-items-center mb-0" href="
                {% if user.role == 'teacher'%}
                    {% url 'core:dashboard_teacher' %}
                {% elif user.role == 'student'%}
                    {% url 'core:dashboard_student' %}
                {% else %}
                    {% url 'landing_page:index' %}
                {% endif%}
            ">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="44" viewBox="0 0 24 24" fill="none"
                stroke="#1d293d" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-graduation-cap" x="56" y="56">
                <path
                    d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z">
                </path>
                <path d="M22 10v6"></path>
                <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"></path>
            </svg>
            <span class="fw-bold text-truncate">Mini LMS</span>
        </a>

        {% if user.is_authenticated %}
        <div class="d-flex gap-2 flex-shrink-0 text-center align-items-center">
            <a href="{% url 'core:account' %}"
                class="btn btn-outline-dark btn-sm d-flex align-items-center gap-2 py-1 pe-3 rounded-pill nav-user-link">
                <img src="https://ui-avatars.com/api/?name={{ user.first_name }}+{{ user.last_name }}&background=1d293d&color=fff&size=16"
                    alt="User Avatar" class="rounded-circle border border-secondary-subtle">
                <span class="fw-medium">{{ user.first_name }}</span>
            </a>

            <form action="{% url 'core:logout' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm rounded-pill px-3">Cerrar sesión</button>
            </form>
        </div>
        {% else %}
        <div class="d-flex gap-2 flex-shrink-0">
            <a href="{% url 'core:login' %}" class="btn btn-outline btn-sm btn-login">Iniciar sesión</a>
            <a href="{% url 'core:register' %}" class="btn btn-sm btn-sing-up">Registrarse</a>
        </div>
        {% endif %}

    </div>
</nav>